h1 {
	text-align: center;
}
table {
	text-align: center;
	margin: 30px auto;
}
input.card {
	text-align: center;
	width: 2em;
	height: 2em;
	font-size: 30px;
	border: 1px solid black;
	background: #eee;
}
form {
	text-align: center;
}

